cffi==1.14.4
et-xmlfile==1.0.1
future==0.18.2
gitdb==4.0.7
GitPython==3.1.24
gmqtt==0.6.7
jdcal==1.4.1
Nuitka==0.6.16.4
openpyxl==3.0.5
PyYAML==6.0
pycparser==2.20
SCons==4.1.0.post1
smmap==4.0.0
typing-extensions==3.10.0.2
